<div class="mainPage d-flex justify-content-between flex-wrap flex-md nowrap align-items-center -pt-2 pb-2 mb-3 border-bottom">
    <h1 class="h-2">Blog Page</h1>

    <div class="btn-toolbar mb-2 mb-md 0">
       <div class="btn-group mb-2 p-3">
          <a href="/add" class="btn btn-sm btn-outline-secondary">+ New User</a>
       </div> 
    </div>
</div>