<div class="mainPage d-flex justify-content-between flex-wrap flex-md nowrap align-items-center -pt-2 pb-2 mb-3 border-bottom">
    <h1 class="h-2">Dashboard</h1>

    <div class="btn-toolbar mb-2 mb-md 0">
       <div class="btn-group mb-2 p-3">
          <a href="/add" class="btn btn-sm btn-outline-secondary">+ New User</a>
       </div> 
    </div>
</div>


















<i class="bi bi-toggle-on"></i>
<i class="bi bi-trash3"></i>
<i class="bi bi-twitter-x"></i>
<i class="bi bi-whatsapp"></i>
<i class="bi bi-x-lg"></i>




<i class="bi bi-list"></i>
<i class="bi bi-house-fill"></i>
<i class="bi bi-headset"></i>
<i class="bi bi-folder2"></i>

<i class="bi bi-image"></i>
<i class="bi bi-github"></i>
<i class="bi bi-download"></i>


<i class="bi bi-link"></i>
<i class="bi bi-geo-alt-fill"></i>
<i class="bi bi-file-earmark-code"></i>



<i class="bi bi-at"></i>

